body { background-color: black;
	   color: white;
	   font-family: Arial, Helvetica, sans-serif;} 
h1 { font-family: "Times New Roman"; 
	 color: Gray; }
nav { background-color: #CCCCCC }

.favorite { color: #C70000; }
	